<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>


        .b{
            font-weight: bold;
        }
        /*	
	Table Responsive
	===================
	Author: https://github.com/pablorgarcia
 */

 /* @charset "UTF-8"; */
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#aaa1ae;
   background-color:#1F2739;
 }
 
 h1 {
   font-size:3em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #4DC3FA;
 }
 
 h2 {
   font-size:1em; 
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color: #FB667A;
 }
 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #FB667A;
   text-decoration: none;
 }
 
 .blue { color: #185875; }
 .yellow { color: #FFF842; }
 
 .containers th  {
       font-weight: bold;
       font-size: 1em;
   text-align: center;
   color: whitesmoke;
 }
 
 .containers td {
       font-weight: normal;
       font-size: 1em;
       text-align: center;
       
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
             box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .containers {
       text-align: left;
       overflow: hidden;
       width: 70%;
       /* margin: 0 auto; */
   display: table;
   padding: 0 0 0 0;
 }
 
 .containers td, .containers th {
       padding-bottom: 2.75%;
       padding-top: 2.75%;
   /* padding-left:2%;   */
   /* padding: 2%; */
   
 }
 
 /* Background-color of the odd rows */
 .containers tr:nth-child(odd) {
       background-color:#00afb9;
 }
 
 /* Background-color of the even rows */
 .containers tr:nth-child(even) {
       background-color:#00afb9";
 }
 
 .containers th {
       background-color: #FBEEC1;
       color: #032265;
 }
 
 .containers td:first-child { color: #032265; }
 
 /* .containers tr:hover {
    background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;
 } */
 
 .containers td:hover {
   background-color: #b8f2e6;
   color: #403E10;
   
   /* font-weight: bold; */
   
   /* box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
       transition-duration: 0.4s;
       transition-property: all;
   transition-timing-function: line; */
 }
 
 @media (max-width: 800px) {
 .containers td:nth-child(4),
 .containers th:nth-child(4) { display: none; }
 }
    </style>
    
</head>
<body style="background-color: #DAAD86;">
    <%- include('../templates/partials/navbar'); %>

    <h1 style="color:#032265 ;text-align: center;">Menu</h1>
    <<div  style="display:flex ; align-items:center; justify-content:center">

    
   

    

    <table class="containers"  ">

        <!--Table head-->
        <thead>
          <tr>
            <th>Sr no.</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Availablity</th>
            <th>Specialist Chef</th>
            
            <th>Price</th>
           
          </tr>
        </thead>
        <!--Table head-->
      
        <!--Table body-->
        <% var c=1%>
        <tbody>
            <% for(let values of menuresult){%>
                <tr class="table-info">
                    <td style="font-weight: bold;" scope="row"><%=c%></td>
                    <td><%= values.iname%></td>
                    <td><%= values.descriptions%></td>
                    <td><%= values.availablity %></td>
                    <td><%= values.chef %></td>
                    <td><%= values.price %></td>
                   
                    
                    
                </tr>
                <% c++; }%>
          
        </tbody>
        <!--Table body-->
      
      
      </table>
</div>
</body>
</html>