<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/buttons.css">
    <title>Menu</title>
    <style>


.b{
            font-weight: bold;
        }
        /*	
	Table Responsive
	===================
	Author: https://github.com/pablorgarcia
 */

 /* @charset "UTF-8"; */
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#A7A1AE;
   background-color:#1F2739;
 }
 
 h1 {
   font-size:3em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #4DC3FA;
 }
 
 h2 {
   font-size:1em; 
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color: #FB667A;
 }
 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #FB667A;
   text-decoration: none;
 }
 
 .blue { color: #185875; }
 .yellow { color: #FFF842; }
 
 .containers th  {
       font-weight: bold;
       font-size: 1em;
   text-align: center;
   color: #032265;
   background-color: #faedcd;
 }
 
 .containers td {
       font-weight: normal;
       font-size: 1em;
       text-align: center;
       
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
             box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .containers {
       text-align: left;
       overflow: hidden;
       width: 90%;
       /* margin: 0 auto; */
   display: table;
   padding: 0 0 0 0;
   
   
   
 }
 
 .containers td, .containers th {
       padding-bottom: 2.75%;
       padding-top: 2.75%;
   padding-left:2%;  
   padding: 2%;
   /* margin: ; */
   
 }
 /* Background-color of the odd rows */
 .containers tr:nth-child(odd) {
       /* background-color:#00afb9; */
       /* background-color:  rgba(255, 255, 255,0.25); */
       /* background-image: url('https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-129599.jpg?size=626&ext=jpg&ga=GA1.2.595596343.1667564067&semt=sph'); */
       /* color: #fff3b0; */
       /* opacity: 0.25; */
       font-weight: bold;
       font-size: large;
       opacity: 0.80;
   color: #ffd25a;
    
    background-color: rgba(30, 21, 42, 0.65);
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;

             /* font-weight: bold; */
   
 }
 
 
 /* Background-color of the even rows */
 .containers tr:nth-child(even) {
       /* background-color:#00afb9; */
       /* background-color:  rgba(255, 255, 255,0.25); */
       /* background-image: url('https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-129599.jpg?size=626&ext=jpg&ga=GA1.2.595596343.1667564067&semt=sph'); */
       /* color : #fff3b0;  */
       /* opacity: 0.25; */
       font-weight:bold;
       font-size: large;
       opacity: 0.80;
   color: #ffd25a;
  
    background-color:rgba(30, 21, 42, 0.65);
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;

             /* font-weight: bold; */
   
  
 }
 
 
 .containers th {
       background-color:transparent ;
       opacity: 0.7;
       /* background-image: url('https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-129599.jpg?size=626&ext=jpg&ga=GA1.2.595596343.1667564067&semt=sph'); */
       color: #e7cc74;
       backdrop-filter: blur(3px);
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       opacity: 0.80;
   
    
    background-color:rgba(7, 4, 4, 0.85);
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;

             /* font-weight: bold; */
   

 }
      
 
 
 .containers td:first-child { color: #ff8841;
font-weight: bold; }
 
 /* .containers tr:hover {
    background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;
 } */
 
 .containers #hover:hover {
   /* background-color:  rgba(60, 141, 152, 0.578); */
   /* opacity: 0.80; */
   color: #ffd25a;
   background-color:rgb(62, 56, 56);
    
    /* background-color: rgba(128, 121, 121, 0.5); */
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
             box-shadow: 0 6px 6px -6px #0E1119;

             /* font-weight: bold; */
   
   box-shadow: #4f4e37 -1px 1px, #4f4e37 -2px 2px, #4f4e37 -3px 3px, #4f4e37 -4px 4px, #4f4e37 -5px 5px, #4f4e37 -6px 6px;
   transform: translate3d(2px, -2px, 0);
   
   transition-delay: 0s;
       transition-duration: 0.4s;
       transition-property: all;
   transition-timing-function: line;
 }
   
   /* font-weight: bold; */
   
   /* box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
       transition-duration: 0.4s;
       transition-property: all;
   transition-timing-function: line; */
 
 
 @media (max-width: 800px) {
 .containers td:nth-child(4),
 .containers th:nth-child(4) { display: none; }
 }
 html {
            background-image:url('http://www.khyberrestaurant.com/assets/img/IMG/KhyberWebImg-02.jpg');
            backdrop-filter: blur(3px);
            background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          background-size: 100% 100%;
          
            
        }

        /* html{
          
          backdrop-filter: blur(3px);
        } */
    </style>
    <%- include('../templates/partials/navbar'); %>
    
</head>
<body style="background-color: transparent;">

<!-- <body style="background-image: url('https://img.freepik.com/premium-photo/black-wooden-background-old-wooden-texture_88281-3221.jpg?size=626&ext=jpg&ga=GA1.2.595596343.1667564067&semt=sph'); background-size: 100% 100%;"> -->
    

   
    <div  style="display:flex ; align-items:center; justify-content:center">

    
   

    

    <table class="containers"  ">

        <!--Table head-->
        <thead>
          <tr>
            <th>order id</th>
            <th>Order Type</th>
            <th>Contents</th>
           
            <th>Table_no</th>
            
            <th>Attendant</th>
            <th>Complete Order</th>
            <!-- <th>Status</th> -->
           
          </tr>
        </thead>
        <!--Table head-->
      
        <!--Table body-->
        <% var c=1%>
        <tbody>
            <% for(let values of torder){%>
                <tr class="table-info">
                    <td style="font-weight: bold;" scope="row"><%=values.oid%></td>
                    <td><%= values.otype%></td>
                    <td><%= values.descriptions%></td>
                    
                    <td><%= values.table_no %></td>
                    <td><%= values.attendant %></td>
                    <td>
                        <form action="/complete/<%=values.oid%>">
                        <input class="button-3" type="submit" value="completed">
                    </form>
                    </td>
                    <!-- <td><%= values.status %></td> -->
                   
                    
                    
                </tr>
                <% c++; }%>
          
        </tbody>
        <!--Table body-->
      
      
      </table>
</div>
</body>
</html>